@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffc107;
  --color-darkbg: #111827;
  --color-card: #1f2937;
}

* {
  font-family: "DM Sans", sans-serif;
}
